.ipynb_checkpoints/
.idea/
__pycache__/
data/
experiments/
Nan-Detector/
symbolic-summary/
figures/
interpolation/
gifs/
notebooks/
symbolic_summary/*
runs/*
notebooks/
symbolic_summary/
.vscode/

*.egg-info/

.cache/
.venv/
.venv_test/